body {
    background-color: rgb(226, 226, 226);
}

td, th {
    border: 1px solid rgb(130, 101, 174);
}

th {
    text-align: end;
}

table {
    /* border-collapse: collapse; */
    width: 200px;
    height: 300px;
    text-align: center;
    border: 5px solid violet;
}

td:hover {
    background-color: lightcoral;
    color: aliceblue;
}